@{
  ViewBag.Title = "Order placed";
}

<div class="text-center">
  <h1 class="display-4">Your order has been placed</h1>
  <h2>You will receive your pizza by @(((DateTimeOffset)ViewData["DueBy"]).ToString("t")) or it's free!</h2>
</div>